@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic,700italic);
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', monospace;
}
.container {
  margin: 0 auto;
  width: 80%;
}
a:link {
  color: #0088cc;
}
a:visited {
  color: #0077cc;
}
a:hover {
  color: #005580;
}
p,
ul,
ol {
  line-height: 1.4;
  margin: 0 0 10px;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
header {
  line-height: 1;
  text-align: left;
}
header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 120px;
}
header h2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}
header nav {
  float: right;
}
header nav ul {
  list-style: none;
  margin: 0;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  display: block;
  padding: 10px;
}
@media only screen and (max-width: 599px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
  header h1 {
    font-size: 96px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 479px) {
  header h1 {
    font-size: 70px;
  }
  header h2 {
    margin: 0 30px;
  }
}
