@charset "UTF-8";
/* CSS Document */

body {
	font: 100%/1.4 'Neuton', Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	background:url(tile.png) center center repeat;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
pre {
	margin: 0 10px 10px 10px;	 
	padding: 25px;
	padding-left: 25px; 
	color:#069;
	background: rgba(255, 255, 255, 0.8);
	font-size:110%;
	box-shadow: 1px 1px 4px #aaa;
	-moz-box-shadow:1px 1px 4px #aaa;
	-webkit-box-shadow: 1px 1px 4px #aaa;
	}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.content {

	padding: 10px 0;

}

.container {
	width: 960px;
	background: rgba(255, 255, 255, 0.8);
	margin: 20px auto 20px auto; 
	}
