<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link href="/css/normalize.min.css" rel="stylesheet" />
	<link href="/css/base.min.css" rel="stylesheet" />
	{% for ref in page.stylesheets %}
	<link href="/css/{{ ref }}.min.css" rel="stylesheet" />
	{% endfor %}
</head>

<body>
	{{ content }}
</body>

</html>