
#blue {
	color: blue;
}

	#blue:hover {
		color: red;
	}

.InvertedSequence {
	color: pink;
}

@media all {
	.InvertedSequence {
		color: green;
	}
}

@media all {
	.MediaSequence {
		color: pink;
	}
}

.MediaSequence {
	color: green;
}


@media all {
	.ImportantSequence {
		color: green !important;
	}
}

.ImportantSequence {
	color: pink;
}


.ImportantInlined {
	color: green !important;
}

	.ImportantInlined i {
		color: red;
	}

	.ImportantInlined b {
		color: red !important;
	}

#purple {
	color: purple;
}

	#purple:hover {
		color: red;
	}
